* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

strong {
    color: #E38E49;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    color: #0A3981;
    margin-bottom: 20px;
    font-size: 34px;
}

p {
    margin-bottom: 20px;
    font-size: 20px;
}

#images {
    display: flex;
    flex-wrap: wrap;
}

#images img {
    margin-bottom: 5px;
}

#outer {
    background-color: #E38E49;
    border-radius: 5px;
    padding: 20px;
}

#inner {
    background-color: #D4EBF8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#content {
    margin: 50px 0;
    width: 55%;
}