* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

strong {
    color: #E38E49;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

h1 {
    color: #0A3981;
    margin-bottom: 20px;
    font-size: 34px;
    transform-origin: center;
    position: relative;
    top: -200px;
    animation: animateName 6s infinite;
    display: inline-block;
}

@keyframes animateName {
    0% {
        top: -200px;
        transform: rotateY(0deg);
    }
    40% {
        top: 0;
        transform: rotateY(0deg);
    }
    60% {
        top: 0;
        transform: rotateY(720deg);
    }
    80% {
        top: 0;
        transform: rotateY(720deg) scale(1.5);
    }
    100% {
        top: 0;
        transform: rotateY(720deg) scale(1);
    }
}

p {
    margin-bottom: 20px;
    font-size: 20px;
}

#images {
    display: flex;
    flex-wrap: wrap;
}

#images img {
    margin-bottom: 5px;
}

#outer {
    background-color: #E38E49;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

#inner {
    background-color: #D4EBF8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#content {
    margin: 50px 0;
    width: 40%;
}